<h1>Date: <span id="date">*</span></h1>
<div class="small-box">
  <p class="number">
    <span id="checks">*</span>
  </p>
  <p class="label">checks</p>
</div>
<div class="small-box">
  <p class="number">
    <span id="guests">*</span>
  </p>
  <p class="label">guests</p>
</div>
<div class="big-box">
  <p class="number"> <span id="total">*</span></p>
  <p class="label">RUR earned</p>
</div>
