h2 Раскатали губу, ага
p Вообще-то разработка программного обеспечения — очень ресурсоёмкое и небыстрое дело. И если вы думали, что заглянете по ссылочке и узрите кучу красивых диаграмм, как в экселе, то фиг вам :)
p Но рано или поздно всё обязательно будет! А пока посмотрите <a href="/history/">как к нам ходят гости</a>.
