/*
    Document   : public/css/custom.css
    Created on : 2014-06-04 10:45 AM
    Author     : denker
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

body {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  margin: 20px auto;
  width: 600px;
}
/*
STATS view styles
*/
.stats { margin: auto; width: 300px; text-align: center; }
.interval-link { float: left; width: 25%; margin-bottom: 20px; }
.interval-title { width: 50%; float: left; }
.small-number { width: 50%; float: left; margin-bottom: 25px; }
.small-number .number { font-size: 2em; margin-bottom: 10px; }
.big-number .number { font-size: 4em; margin-bottom: 10px; }

/*
VISITS view styles
*/
form { display:inline; }
form input[type="submit"] {
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer; }

ul {
  list-style: none;
  padding-left: 0;
}

.no, .start, .end, .guests, .revenue, .tips, .comment {
  float:left;
  margin-right: 15px;
}
