/*
    Document   : public/css/custom.css
    Created on : 2014-06-04 10:45 AM
    Author     : denker
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

body {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 20px auto;
  width: 900px;
}
/*
STATS view styles
*/
.stats { margin: auto; width: 300px; text-align: center; }
.interval-link { float: left; width: 25%; margin-bottom: 20px; }
.interval-title { width: 50%; float: left; }
.small-number { width: 50%; float: left; margin-bottom: 25px; }
.small-number .number { font-size: 2em; margin-bottom: 10px; font-weight: 500; }
.big-number .number { font-size: 4em; margin-bottom: 10px; font-weight: 500; }

/*
VISITS view styles
*/
.edit-visit select, form input[type="submit"] {
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;}
input[type="text"] {
  border-style: none;
  font-size: 16px;
  font-weight: 300;
  color: #555;
}
.edit-visit select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 2px;
  padding-right: 2px;
  width: auto;
  text-align: center;
  font-weight: 500;
}
.delete input[type="submit"] { color: #A92626; }
form { display:inline; }

/* visits table */
/* grid inspired by https://css-tricks.com/dont-overthink-it-grids/ */
.grid { margin-bottom: 20px;}
.row { width: auto; }
.row:after { content: ""; display: table; clear: both; }
.odd { background-color: #F7F7F7;}
.danger { background-color: #f9e4af; }
.danger input[type="text"] { background: transparent; }
[class*='column'] { float: left; padding-left: 10px; margin: 5px 0;}
.no { padding-left: 13px; width: 5%; }
.guests { width: 8%; text-align: center; }
.time { width: 9%; text-align: center; }
.tips { width: 9%; }
.tips input { width: 100%; font-weight: 500; }
.revenue { width: 10%; padding-right: 10px; text-align: right; font-weight: 500;}
.revenue input { text-align: right; width: 100%; font-weight: bold; }
.comment { width: 26%; }
.controls { padding-left: 0; text-align: right; float: right; width: 13%;}
.edit-visit .controls { width: 6%; float: left; }
.controls a { color: #468A46; text-decoration: none; }
.delete input { margin-top: 5px; }
.controls input { margin-top: 0px; }
/* visits forms */
